In [1]:
import pandas as pd 
import numpy as np

In [4]:
balance_sheets = pd.read_csv(r'C:\Users\user\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [5]:
balance_sheets

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [14]:
balance_sheets["Area"].nunique()

49

In [23]:
mad = balance_sheets.loc[balance_sheets['Area'] == 'Madagascar']
print(mad)

       Area Code        Area  Item Code           Item  Element Code  \
30715        129  Madagascar       2501     Population           511
30716        129  Madagascar       2501     Population          5301
30717        129  Madagascar       2901    Grand Total           664
30718        129  Madagascar       2901    Grand Total           674
30719        129  Madagascar       2901    Grand Total           684
...          ...         ...        ...            ...           ...
32149        129  Madagascar       2899  Miscellaneous          5142
32150        129  Madagascar       2899  Miscellaneous           645
32151        129  Madagascar       2899  Miscellaneous           664
32152        129  Madagascar       2899  Miscellaneous           674
32153        129  Madagascar       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
30715           Total Population - Both sexes     1000 persons  23590.00
30716                Domestic supply quantity      1000 tonnes      0.00
30717           Food supply (kcal/capita/day)  kcal/capita/day   1986.00
30718  Protein supply quantity (g/capita/day)     g/capita/day     44.45
30719      Fat supply quantity (g/capita/day)     g/capita/day     22.18
...                                       ...              ...       ...
32149                                    Food      1000 tonnes     10.00
32150     Food supply quantity (kg/capita/yr)               kg      0.44
32151           Food supply (kcal/capita/day)  kcal/capita/day      0.00
32152  Protein supply quantity (g/capita/day)     g/capita/day      0.01
32153      Fat supply quantity (g/capita/day)     g/capita/day      0.01

          Y2015     Y2016     Y2017     Y2018
30715  24234.00  24894.00  25571.00  26262.00
30716      0.00      0.00      0.00      0.00
30717   1922.00   1918.00   1943.00   1938.00
30718     43.26     43.35     43.94     44.17
30719     22.97     23.83     25.26     24.12
...         ...       ...       ...       ...
32149     11.00     11.00     11.00     12.00
32150      0.44      0.44      0.44      0.44
32151      0.00      0.00      0.00      0.00
32152      0.01      0.01      0.01      0.01
32153      0.01      0.01      0.01      0.01

[1439 rows x 12 columns]

In [25]:
protein = mad.loc[mad['Element'] == 'Protein supply quantity (g/capita/day)']
protein

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
30718,129,Madagascar,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,44.45,43.26,43.35,43.94,44.17
30721,129,Madagascar,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,35.43,34.04,33.96,34.47,34.81
30724,129,Madagascar,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,9.02,9.23,9.38,9.47,9.36
30740,129,Madagascar,2905,Cereals - Excluding Beer,674,Protein supply quantity (g/capita/day),g/capita/day,27.97,27.26,27.38,27.97,28.19
30756,129,Madagascar,2511,Wheat and products,674,Protein supply quantity (g/capita/day),g/capita/day,2.09,2.14,2.53,2.88,3.15
...,...,...,...,...,...,...,...,...,...,...,...,...
32113,129,Madagascar,2769,"Aquatic Animals, Others",674,Protein supply quantity (g/capita/day),g/capita/day,0.01,0.01,0.00,0.00,0.00
32123,129,Madagascar,2775,Aquatic Plants,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
32133,129,Madagascar,2928,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.02,0.02,0.02,0.02,0.02
32142,129,Madagascar,2680,Infant food,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
32152,129,Madagascar,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.01,0.01,0.01,0.01,0.01

In [26]:
protein['Y2015'].sum()

173.04999999999998

In [34]:
wine = balance_sheets.loc[balance_sheets['Item'] == 'Wine']
print(wine)

       Area Code      Area  Item Code  Item  Element Code  \
916            4   Algeria       2655  Wine          5511
917            4   Algeria       2655  Wine          5611
918            4   Algeria       2655  Wine          5072
919            4   Algeria       2655  Wine          5911
920            4   Algeria       2655  Wine          5301
...          ...       ...        ...   ...           ...
60551        181  Zimbabwe       2655  Wine          5142
60552        181  Zimbabwe       2655  Wine           645
60553        181  Zimbabwe       2655  Wine           664
60554        181  Zimbabwe       2655  Wine           674
60555        181  Zimbabwe       2655  Wine           684

                                      Element             Unit  Y2014  Y2015  \
916                                Production      1000 tonnes  52.00   10.0
917                           Import Quantity      1000 tonnes   7.00    8.0
918                           Stock Variation      1000 tonnes   0.00    0.0
919                           Export Quantity      1000 tonnes   0.00    0.0
920                  Domestic supply quantity      1000 tonnes  59.00   18.0
...                                       ...              ...    ...    ...
60551                                    Food      1000 tonnes   4.00    4.0
60552     Food supply quantity (kg/capita/yr)               kg   0.31    0.3
60553           Food supply (kcal/capita/day)  kcal/capita/day   1.00    1.0
60554  Protein supply quantity (g/capita/day)     g/capita/day   0.00    0.0
60555      Fat supply quantity (g/capita/day)     g/capita/day   0.00    0.0

       Y2016  Y2017  Y2018
916      7.0  62.00  54.00
917     11.0   9.00   9.00
918      0.0   0.00   0.00
919      0.0   0.00   0.00
920     18.0  71.00  63.00
...      ...    ...    ...
60551    4.0   4.00   4.00
60552    0.3   0.26   0.31
60553    1.0   0.00   1.00
60554    0.0   0.00   0.00
60555    0.0   0.00   0.00

[497 rows x 12 columns]

In [35]:
wine['Y2015'].sum()

4251.8099999999995

In [36]:
wine['Y2018'].sum()

4039.3199999999997

In [40]:
balance_sheets['Element'].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

In [41]:
balance_sheets.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

In [43]:
proc = balance_sheets.loc[balance_sheets['Element'] == 'Processing']
print(proc)

       Area Code      Area  Item Code                      Item  Element Code  \
19             4   Algeria       2905  Cereals - Excluding Beer          5131
35             4   Algeria       2511        Wheat and products          5131
51             4   Algeria       2805         Rice and products          5131
66             4   Algeria       2513       Barley and products          5131
81             4   Algeria       2514        Maize and products          5131
...          ...       ...        ...                       ...           ...
60694        181  Zimbabwe       2946               Animal fats          5131
60717        181  Zimbabwe       2743                     Cream          5131
60730        181  Zimbabwe       2737        Fats, Animals, Raw          5131
60789        181  Zimbabwe       2948   Milk - Excluding Butter          5131
60803        181  Zimbabwe       2848   Milk - Excluding Butter          5131

          Element         Unit  Y2014  Y2015  Y2016  Y2017  Y2018
19     Processing  1000 tonnes   35.0   38.0   37.0   33.0   44.0
35     Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
51     Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
66     Processing  1000 tonnes   35.0   38.0   37.0   33.0   44.0
81     Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
...           ...          ...    ...    ...    ...    ...    ...
60694  Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60717  Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60730  Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60789  Processing  1000 tonnes   59.0   59.0   58.0   56.0   57.0
60803  Processing  1000 tonnes   59.0   59.0   58.0   56.0   57.0

[2010 rows x 12 columns]

In [44]:
proc['Y2017'].sum()

292836.0

In [55]:
missing = balance_sheets['Y2014'].isnull().sum()
print(missing)

1589

In [61]:
total = balance_sheets['Y2014'].count()
total

59354

In [62]:
perc = (missing/total)
perc

0.026771573946153586

In [65]:
balance_sheets.groupby(["Element"])["Y2017"].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [67]:
balance_sheets.groupby(["Element"])[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [69]:
mean = balance_sheets['Y2017'].mean()
print(mean)

140.917764860268

In [73]:
sd = balance_sheets['Y2017'].std()
print(sd)

1671.8623590572788

In [77]:
group = balance_sheets[['Area', 'Y2017']]
print(group)

           Area     Y2017
0       Algeria  41389.00
1       Algeria      0.00
2       Algeria   3341.00
3       Algeria     92.82
4       Algeria     80.19
...         ...       ...
60938  Zimbabwe     19.00
60939  Zimbabwe      1.33
60940  Zimbabwe      1.00
60941  Zimbabwe      0.04
60942  Zimbabwe      0.02

[60943 rows x 2 columns]

In [86]:
group.groupby(['Area'])['Y2017'].sum().sort_values()

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
CÃ´te d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64